# Pandas - Python Data Analysis Library
---
## I shamelessly picked from these chaps:
 - [Daniel Chen - Pandas for Data Analysis](https://www.youtube.com/watch?v=oGzU688xCUs)
 - [Jeff Delaney - 19 Essential Snippets in Pandas](https://jeffdelaney.me/blog/useful-snippets-in-pandas/)

## General plan:
- what is Pandas all about?
- brief intro to pandas objects and syntax
- numpy dataframe, show the basics
- import gapminder dataset, interactive
---
### Things to show:
- start with building from numpy to a pandas dataframe
- import pandas as pd
- create dataframe (first from np.array)
- explore: head, tail, sample, shape, describe, info
- differentiate series (single vector) and dataframes (multiple vectors)
- change column names (lists)
- add/remove, and reorder a column (mean, conditional logic)
- add/remove and reorder a row (dictionary, key=col name)
- change value in row
- create a plot (matplotlib)
- combine two dataframes (create a new dataframe with same index as the first)
    - (axis=0 and axis=1)
- demonstrate .loc and .iloc
- reindex (change index number)
    
### Gapminder dataset: 
- how to import a (tab)-delimited file as a dataframe
- explore dataset
    - df.duplicate
    - df.unique
    - df.nunique
- filter
    - conditonal logic
    - sort
    - groupby
- apply funciton to every row
    - do this with a loop
- filling NaNs / missing data
- create plot (save?)
- export as .csv, excel sheet, or pickle file

### Extras:
- time series (use in index to sort/order)
- [tidy dataset](http://vita.had.co.nz/papers/tidy-data.pdf)

## Jupyter Notebook Shortcuts
- documentation: [mysterious_function]?
- check function arguments (brief): shift + tab
- run current cell/block: shift + enter 
- insert cell above: esc + a
- delete cell: esc (hold) + d + d (double tap)

## Big Concepts:
- NumPy vs. Pandas: 
    - NumPy - arrays are homogeneous (same same type)
    - Pandas - dataframes can be heterogeneous (multiple data types, like lists)
- think in vector operations

## Brief Pandas Reference:
- DataFrame = Indexed rows and columns of data, like a spreadsheet or database table.
- Series = single column of data
- Shape: [number_of_rows, number_of_columns] in a DataFrame
- Axis: 
    - 0 == Calculate statistic for each column
    - 1 == Calculate statistic for each row

<img src="files/img/python-operations-across-axes.svg" alt="Operations Across Axes" />

## Big Concepts:
- NumPy vs. Pandas: 
    - NumPy - arrays are homogeneous (same same type)
    - Pandas - dataframes can be heterogeneous (multiple data types, like lists)
- think in vector operations

In [6]:
# quick demo of speed and vector operations

# standard python 

# create 3 lists of a million ints
A=range(1000000)
B=range(1000000)
C=range(1000000)

# begin timing the operation
import time
start_time = time.time()

# generate new list based on the A, B, and C lists
Z = []
for idx in range(len(A)):
    Z.append(A[idx] + B[idx] * C[idx])

python_time = time.time() - start_time
print('Took', python_time, 'seconds')

Took 1.0992920398712158 seconds

In [12]:
# repeat with NumPy

# create 3 arrays of a million ints
import numpy as np
A=np.arange(1000000)
B=np.arange(1000000)
C=np.arange(1000000)

# begin timing the operation
start_time = time.time()

# generate new array based on the A, B, and C arrays
Z = A + B * C

numpy_time = time.time() - start_time
print('Took', numpy_time, 'seconds')

# how much faster is NumPy
print('Numpy is', python_time/numpy_time, 'times faster')

Took 0.01576685905456543 seconds
Numpy is 69.72168876926101 times faster

In [2]:
# import the pandas library
import pandas as pd
print('Pandas version:', pd.__version__)

Pandas version: 0.20.3

## Use NumPy to generate a ndarray of random integers

In [3]:
# import NumPy
import numpy as np
print('NumPy version:',np.version.version)

NumPy version: 1.13.3

In [4]:
# create a 4x4 numpy ndarray
np.random.seed(0)
array = np.random.randint(0,100,size=(4,4))
array

array([[44, 47, 64, 67],
       [67,  9, 83, 21],
       [36, 87, 70, 88],
       [88, 12, 58, 65]])

In [5]:
# check the array and the type
type(array)

numpy.ndarray

In [6]:
# create a Pandas DataFrame from the NumPy ndarray
df = pd.DataFrame(data=array, index=None, columns=None, dtype=None)
df

    0   1   2   3
0  44  47  64  67
1  67   9  83  21
2  36  87  70  88
3  88  12  58  65

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
0    4 non-null int64
1    4 non-null int64
2    4 non-null int64
3    4 non-null int64
dtypes: int64(4)
memory usage: 208.0 bytes

In [8]:
# why doesn't shape use ()?
df.shape

(4, 4)

In [9]:
# view column names in list
df.columns.tolist()

[0, 1, 2, 3]

In [10]:
# change column names
cols = ['a','b','c','d']
df.columns = cols
df

    a   b   c   d
0  44  47  64  67
1  67   9  83  21
2  36  87  70  88
3  88  12  58  65

In [11]:
# check the mean for each column
df.mean()

a    58.75
b    38.75
c    68.75
d    60.25
dtype: float64

In [12]:
# but is the default calculating mean for each column or each row?
df.mean(axis=0) # axis == 0 (calculate statistic for each column)

a    58.75
b    38.75
c    68.75
d    60.25
dtype: float64

In [13]:
# what about now?
df.mean(axis=1) # axis == 1 (calculate statistic for each row)

0    55.50
1    45.00
2    70.25
3    55.75
dtype: float64

In [14]:
# adding a column with the mean of each row
df['mean'] = df.mean(axis=1)
df

    a   b   c   d   mean
0  44  47  64  67  55.50
1  67   9  83  21  45.00
2  36  87  70  88  70.25
3  88  12  58  65  55.75

In [19]:
df.loc[len(df)] = []

ValueError: cannot set a row with mismatched columns

In [15]:
# cannot find a way to add a row with just 4 values and automatically calculate the mean
# maybe use the apply method to input the mean
df['newmean'] = df.apply(np.sum, axis=1)

In [102]:
df.loc[4] = [1,2,3,4,5]

ValueError: cannot set a row with mismatched columns

## Create a Pandas DataFrame from a dictionary

In [ ]:
my_dict = {'a':['cheese', 'dog', 'goat', '4h'], 'b':['lush','planet', '2017', 'la trance'] }

In [ ]:
df2 = pd.DataFrame(my_dict)

In [ ]:
df2

In [ ]:
df3 = pd.concat([df, df2], axis=1)
df3

In [ ]:
# show merge and join?

## Import a .csv as a Pandas DataFrame

In [1]:

# import a .csv file to a DataFrame
df = pd.read_csv('dummydata.csv', sep=',', 
                 header='infer', 
                 names=None,
                 index_col=None, 
                 usecols=None)
# strip-down column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-','_')

NameError: name 'pd' is not defined

In [25]:
import numpy as np
r = np.random.normal(0,1,10000000)
r[0]

1.4554442913175125

In [53]:
# i,j = np.where( a==value )
# np.where(np.logical_and(a>=6, a<=10))
index = np.where(np.logical_and(r>=3, r<=5))
values = r[index]
len(values)

13513

In [56]:
val = (r>3)&(r<5)
val

array([False, False, False, ..., False, False, False], dtype=bool)

In [9]:
x = [0, 1, 2, 5, -1, 3.4]

z = [3, -1, 10, 12., -4.2, 0.]

z2 = [0., 10., -7., 12., 82., 19.]

new_list = []
for x,y in zip(x,z):
    print(type(x))
    print(y)
    print()

<class 'int'>
3

<class 'int'>
-1

<class 'int'>
10

<class 'int'>
12.0

<class 'int'>
-4.2

<class 'float'>
0.0